.ful_akcios { background:url(../img/ful.akcios_en.png) no-repeat; }
.ful_last_minute { background:url(../img/ful.last.minute_en.png) no-repeat; }
.ful_kereso { background:url(../img/ful.kereso_en.png) no-repeat; }
.ful_utazasok { background:url(../img/ful.utazasok_en.png) no-repeat; }
.ful_kiemelt_ajanlataink { background:url(../img/ful.kiemelt.ajanlataink_en.png) no-repeat; } /*royal fix code*/
.ful_ajanlatkeres { background:url(../img/ful.ajanlatkeres_en.png) no-repeat; }
.ful_informaciok { background:url(../img/ful.informaciok_en.png) no-repeat; }
.ful_partnerek { background:url(../img/ful.partnerek_en.png) no-repeat; }
.ful_kapcsolat { background:url(../img/ful.kapcsolat_en.png) no-repeat; }
.ful_rolunk { background:url(../img/ful.rolunk_en.png) no-repeat; }
.ful_magyar_taborok { background:url(../img/ful.magyar.taborok_en.png) no-repeat; }
.ful_kulfoldi_taborok { background:url(../img/ful.kulfoldi.taborok_en.png) no-repeat; }
.ful_referenciak { background:url(../img/ful.referenciak_en.png) no-repeat; }
.ful_reklam { background:url(../img/ful.reklam_en.png) no-repeat; }
.ful_galeria { background:url(../img/ful.galeria_en.png) no-repeat; }
.ful_udvozoljuk { background:url(../img/ful.udvozoljuk_en.jpg) no-repeat; margin:-4px 0 0 -4px; }
.ful_hirek { background:url(../img/ful.hirek_en.png) no-repeat; }

.button_back,
.button_back a { background:url(../img/button_back_en.png) no-repeat; width:104px; height:30px; display:block; overflow:hidden; text-indent:-1000em; }
.button_back a:hover { background:url(../img/button_back_en.png) no-repeat 0 -30px; }

.contact_form .button { float:left; display:inline; margin-left:595px; background:url(../img/contact.form.btn_en.png) no-repeat; width:104px; height:30px; }
.contact_form .button input:hover { background:url(../img/contact.form.btn_en.png) no-repeat 0px -30px; }

/* sport.css */

.logo,
.logo a { background:url(../img/logo_sport_en.jpg) no-repeat; }