@charset "utf-8";
/* CSS Document */

.article { text-transform:none; font-size:14px; }
.table_style { text-transform:none; font-size:14px; }

.style_ref .red { color:red; }
.style_ref .col_1 { color:green; }
.style_ref .col_2 { color:green; }

/* Eto */

.eto img{
	width: 48%;
	max-height: 222px;
	padding: 1%;
	float: left;
}

/* Norbi */
 .h_menu ul{
 overflow:hidden;
 background-color: #46C3EF;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#46C3EF), to(#174ECA)); 
 background-image: -webkit-linear-gradient(top, #46C3EF, #174ECA); 
 background-image:    -moz-linear-gradient(top, #46C3EF, #174ECA); 
 background-image:      -o-linear-gradient(top, #46C3EF, #174ECA); 
 background-image:         linear-gradient(to bottom, #46C3EF, #174ECA);
 margin-bottom: 15px;
  -webkit-border-radius: 5px; 
  border-radius: 5px; 
 -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.h_menu li{
background: none;
float: left;
width: 140px;
list-style: none;
text-align: center;
}

.menu_1,.menu_2{
width: 100px !important;
}

.menu_6{
width:224px !important;
}

.h_menu ul li a{
text-indent: 0;
font-size: 13px;
text-transform: uppercase;
text-align: center;
line-height: 39px;
color: #fff;
text-decoration: none;
display: block;
}

.h_menu ul li:hover,.h_menu ul li a.act{
 background-color: #09DDFE;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#09DDFE), to(#039CFA)); 
 background-image: -webkit-linear-gradient(top, #09DDFE, #039CFA); 
 background-image:    -moz-linear-gradient(top, #09DDFE, #039CFA); 
 background-image:      -o-linear-gradient(top, #09DDFE, #039CFA); 
 background-image:         linear-gradient(to bottom, #09DDFE, #039CFA);
}

.lang{
float: right;
list-style: none;
overflow: hidden;
margin-bottom: 25px;
margin-top:7px;
position: relative;
z-index: 1000001;
}
.lang li{
float: left;
margin: 0 5px;
}

.h_menu ul li ul{
margin-bottom: 0;
-webkit-border-radius: 0;
border-radius: 0;
display: none;
}

.h_menu ul li:hover ul,.h_menu ul li:focus ul{
display: block;
}

.h_menu ul li ul{
width:224px;
position: absolute;
z-index: 100001;
background: #174ECA;
 -webkit-border-radius: 0 0 5px 5px; 
  border-radius: 0 0 5px 5px; 
}

.h_menu ul li div li{
width: 224px;
}

.quote{
padding: 30px;
background: #eee;
font-style: italic;
color: black;
margin:30px 0;
}