@charset "utf-8";
/* CSS Document */

.article { text-transform:none; font-size:14px; }
.table_style { text-transform:none; font-size:14px; }

.style_ref .red { color:red; }
.style_ref .col_1 { color:green; }
.style_ref .col_2 { color:green; }

/* Eto */

.eto img{
	width: 48%;
	max-height: 222px;
	padding: 1%;
	float: left;
}

/* Norbi */
 .h_menu ul{
 overflow:hidden;
 background-color: #46C3EF;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#46C3EF), to(#174ECA)); /* Safari 4+, Chrome */
 background-image: -webkit-linear-gradient(top, #46C3EF, #174ECA); /* Chrome 10+, Safari 5.1+, iOS 5+ */
 background-image:    -moz-linear-gradient(top, #46C3EF, #174ECA); /* Firefox 3.6-15 */
 background-image:      -o-linear-gradient(top, #46C3EF, #174ECA); /* Opera 11.10-12.00 */
 background-image:         linear-gradient(to bottom, #46C3EF, #174ECA); /* Firefox 16+, IE10, Opera 12.50+ */
}

.h_menu ul li{
background:none;
}

.h_menu ul li a{
text-indent: none;
font-size: 13px;
text-transform: uppercase;
text-align: center;
line-height: 39px;
color: #fff;
}

.h_menu ul li:hover,.h_menu ul li a.act{
 background-color: #09DDFE;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#09DDFE), to(#039CFA)); /* Safari 4+, Chrome */
 background-image: -webkit-linear-gradient(top, #09DDFE, #039CFA); /* Chrome 10+, Safari 5.1+, iOS 5+ */
 background-image:    -moz-linear-gradient(top, #09DDFE, #039CFA); /* Firefox 3.6-15 */
 background-image:      -o-linear-gradient(top, #09DDFE, #039CFA); /* Opera 11.10-12.00 */
 background-image:         linear-gradient(to bottom, #09DDFE, #039CFA); /* Firefox 16+, IE10, Opera 12.50+ */
}