@charset "utf-8";
/* CSS Document */

.article { text-transform:none; font-size:14px; }
.table_style { text-transform:none; font-size:14px; }

.style_ref .red { color:red; }
.style_ref .col_1 { color:green; }
.style_ref .col_2 { color:green; }